<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>ancks</title>

        <link rel="shortcut icon" type="image/png" href="http://localhost:3000/img/favi.png">

        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    </head>
    <body>
        <img id="logo" src="../img/logo3.png">
        <script src="js/vendor.js"></script>
        <div id="app"></div>



        <script src="js/script.js"></script>

    </body>
</html>