<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN FORM</title>
    <h1>This is a LOGIN FORM</h1>


    <section class="loginform cf">
        <form name="login" action="index_submit" method="get" accept-charset="utf-8">
            <ul>
                <li><label for="mail">Email</label>
                    <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
                <li><label for="pw">Password</label>
                    <input type="password" name="password" placeholder="password" required></li>
                <li>
                    <input type="submit" value="Login"></li>
            </ul>
        </form>
    </section>



</head>
<body>


<script src="js/vendor.js"></script>
<script src="js/login.js"></script>

</body>
</html>