body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: lightgoldenrodyellow;
  //background-image: url(../../img/crane.png);

}

h1 {
  text-transform: uppercase;
}



//Overwrite absolute Path from Leaflet.css
.leaflet-control-layers-toggle {
  background-image: url(../../img/layers.png) !important;
}

