/* -----------------------------------------------------------------------------------------------
                      The Main SASS file for the ANCKS PROJECT
                   - created by David Messerer & Sophie Drummer -
                 - 24.04.2017, HyperMediaUserExperienceEngineering -
 ------------------------------------------------------------------------------------------------*/

@import "../../node_modules/leaflet/dist/leaflet";
@import "../scss/imports/animalInfo";
@import "../scss/imports/modals";


// ---------------------- General ---------------------------------------------------------------

body {
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  font-size: 14px;
  background: url("../img/bgd.jpg");
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
}

#logo{
  position: absolute;
  height: 82px;
  top: 0;
  left: 13px;
}


// ---------------------- VUE DIV ---------------------------------------------------------------

#vue{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}


// ---------------------- Components ---------------------------------------------------------------

div#menuMap{
  position: absolute;
  top: 25px;
  right: 30px;
}

.component-vue-map {
  position: fixed;
  top: 80px;
  right: 600px;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 1;
}

.component-vue-map .map-container {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}

.input{
  position: absolute;
  right: 15px;
  top: 80px;
  bottom: 15px;
  padding: 3px 10px 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 565px;
  height: 245px;
  background-color: #fffaff;
  float: right;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}


// ---------------------- Main Navi ---------------------------------------------------------------

div#vueNavi{
  width: 100%;
  height: 80px;
  background-color: #413e43;
}
.navMenu{
  position: absolute;
  top: 15px;
  left: 220px;
}

a:hover{
  color: #bdb9bd;
}

a.login, a.settings, a.contact{
  padding: 12px 15px 16px 15px;
  margin: 5px 30px 5px 30px;
  height: 10px;
  border: 1px solid rgba(239, 234, 235, 0);

  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  font-size: 15px;
}


// ---------------------- Show Animal ---------------------------------------------------------------

.selectButtonDiv{
  position: absolute;
  margin: 15px 20px 30px 15px;
  width: 500px;
  display: inline-block;
}

.selectButton{
  width: auto;
  border: 1px solid rgba(202, 198, 199, 0.76);
  padding: 8px;
  margin-right:15px;
  background: transparent ;
  outline: none;
  cursor: url("../img/cursor_foot_black.png"), auto;
  text-align: center;
}


// ---------------------- Adding ---------------------------------------------------------------

.addButtonDis{
  pointer-events: none;
  cursor: none;
}

.form-group input[type="animal"]{
  border: none;
  outline: none;
  width: 165px;
  background: transparent;
  padding: 0 0 1px 0;
  margin: 5px 10px 15px 10px;
  font-size: 1em;
  border-bottom: 1px dotted #89878d;
}

label.animalLabel{
  margin: 8px !important;
  width: 100px;
}

td.animalTableField{
  padding-left: 8px;
}

td.animalTableButton{
  text-align: center;
}

.resultDivAdd{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 160px;
  height: 172px;
  border:solid #d6d6d6 thin;
}

div.vdp-datepicker__calendar{
  z-index: 4;
}


// ---------------------- InputField Menu ---------------------------------------------------------------

.selectMenu{
  font-size: 120%;
  margin: 5px;
  border: none;
  background-color: #fffaff;
}

nav a.show, nav a.addEna, nav a.deleteEna{
  display:inline-block;
  padding: 7px 39px;
  color: #3f3f3f !important;
  font-weight:bold;
  font-size:13px;
  text-decoration:none !important;
  text-transform: uppercase;
  background-color:transparent;
  border: 1px solid rgba(202, 198, 199, 0);
}

nav a.addDis, nav a.deleteDis{
  display:inline-block;
  padding: 7px 39px;
  color: #aeaeae !important;
  font-weight:bold;
  font-size:13px;
  text-decoration:none !important;
  text-transform: uppercase;
  background-color:transparent;
  border: 1px solid rgba(202, 198, 199, 0);
}

nav a.show:hover,
nav a.addEna:hover,
nav a.deleteEna:hover,
nav a.addDis:hover,
nav a.deleteDis:hover{
  color: #a0a0a0 !important;
}

nav.show .show,
nav.add .addDis,
nav.delete .deleteEna,
nav.add .addEna,
nav.add .addDis,
nav.delete .deleteDis{
  border: 1px solid rgba(182, 178, 179, 0.76);
}

.sep{
  font-size: 120%;
}

.sepWhi{
  font-size: 130%;
  color: #ada6a8;
}

hr {
  border:solid #d6d6d6 thin;
  margin-top: 2px;
  margin-bottom: 8px;
}

span.textNormal{
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

div.v-spinner{
  margin: 50px;
}

.ShowButtonDiv{
  float: left;
  width: 120px;
  height: 30px;
}


// ---------------------- PopUp ---------------------------------------------------------------

img#popupImg{
  min-width: 50px;
  max-width: 120px;
  max-height: 80px;
  display: block;
  margin: auto;
}


// ---------------------- Slider ---------------------------------------------------------------

#slider{
  margin: 10px 5px 10px 35px !important;
}

div#sliderInfo{
  width: 200px;
  margin-left: 30px;
}

.sliderInfoSpan{
  font-size: 0.8em;
  color: #6b6768;
}


// ---------------------- Select ---------------------------------------------------------------

select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #c4c2c8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: inherit;
  font-family: inherit;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  margin: 1px;
  text-align: left !important;
  transition: all 1.2s ease-in-out;
  user-select: none;
  width: auto;
  &:hover {
    border-color: darken(#89878d, 15%);
  }
  &:active, &:focus {
    border-color: #666666;
  }
}

.selectText{
  display: inline-block;
  height: 40px;
}


// ---------------------- Scrollbar ---------------------------------------------------------------

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


