@import "imports/layout";
@import "../../node_modules/leaflet/dist/leaflet";

body {
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  font-size: 14px;
  background: url("../img/bgd.jpg");
  overflow: hidden;

}

h1 {
  text-transform: uppercase;
}

#logo{
  position: absolute;
  height: 82px;
  top: 0px;
  left: 13px;
}


// ---------------------- VUE DIV ---------------------------------------------------------------
#vue{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

// ---------------------- Components ---------------------------------------------------------------
div#menuMap{
  position: absolute;
  top: 25px;
  right: 30px;
}



.component-vue-map {
  position: fixed;
  top: 80px;
  right: 600px;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  z-index: 1;

}

.component-vue-map .map-container {
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}

.input{
  position: absolute;
  right: 15px;
  top: 80px;
  bottom: 15px;
  padding: 10px;
  padding-top: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 565px;
  height: 230px;
  background-color: #fffaff;
  float: right;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}


#vueInfo{
  position: absolute;
  padding: 10px;
  width: 565px;
  bottom: 10px;
  top: 355px;
  right: 15px;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
}

// ---------------------- Scrollbar ---------------------------------------------------------------
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

// ---------------------- InputField ---------------------------------------------------------------
.inputField{
  padding-top: 15px;
  padding-bottom: 10px;
}

select{
  min-width: 100px;
  color: rgba(28, 26, 26, 0.93);
  border-radius: 4px;
  margin: 5px;
}

select:focus{
  background-color: #dddddd;
}

.selectButton{
  margin: 5px;
  border-radius: 1px;
  border: none;
  background-color: #dddddd;
  padding: 5px;
  margin: 5px;
}
.selectButton:hover{
  background-color: darkorange;
}

// ---------------------- Adding ---------------------------------------------------------------

.addButtonDis{
pointer-events: none;
}
.addButtonEna{

}



.form-group input[type="animal"], [type="contact"]
{
  border: none;
  outline: none;
  width: 180px;
  background: transparent;
  padding: 0 0 1px 0;
  margin: 5px 10px 15px 10px;
  font-size: 1em;
  border-bottom: 1px dotted #89878d;
}
label.animalLabel{
  margin: 10px !important;
  width: 100px;
}

table{
  width: 400px;
}

td.animalTableField{
  width: 50px;
}
td.animalTableButton{
  text-align: center;

}

.resultDivAdd{
  position: absolute;
  top: 60px;
  right: 15px;
  width: 140px;
  height: 170px;
  border:solid #d6d6d6 thin;
}
div.vdp-datepicker__calendar{
  z-index: 4;
}


// ---------------------- InputField Menu ---------------------------------------------------------------

.selectMenu{
  font-size: 120%;
  margin: 5px;
  border: none;
  background-color: #ffffff;
}

nav a.show, a.add, a.delete{
  display:inline-block;
  padding: 7px 39px;
  color: #3f3f3f !important;
  font-weight:bold;
  font-size:13px;
  text-decoration:none !important;
  text-transform: uppercase;
  background-color:transparent;
  border: 1px solid rgba(202, 198, 199, 0);
}
nav a.selectMenu:hover{
  color: #2f2f5e !important;
}

nav.show .show,
nav.add .add,
nav.delete .delete{
  //background-color: #404040;
  //color: #e6e8e8 !important;
  border: 1px solid rgba(182, 178, 179, 0.76);
}

.inputFieldButton:hover{
  color: #0078A8;
}

.inputFieldButton:active{
  color: #a81700;
}

.sep{
  font-size: 120%;
}

hr {
  border:solid #d6d6d6 thin;
  margin-top: 2px;
  margin-bottom: 15px;
}




p.textNormal{
  margin: 5px;
}

div.v-spinner{
  margin: 50px;
}

.ShowButtonDiv{
  float: left;
  width: 120px;
  height: 30px;
}

// ---------------------- AnimalInfo Field ---------------------------------------------------------------

.animalInfo{
  background-color: #fbf9ff;
  width: 100%;
  max-height: 53%;

}

.infoText{
  text-align: justify;
  margin: 5px;
}

.resultDiv{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 200px;
  border:solid #d6d6d6 thin;
}

#selectedImg{
  display: block;
  min-width: 70px;
  max-width: 125px;
  max-height: 80px;
  min-height: 60px;
  margin: auto;
  margin-top: 15px;
}

#selectedIcon{
  display: block;
  width: 25%;
  margin: auto;
  margin-top: 15px;
}

p.selectingResult{
  font-size: 90%;
  margin: 5px;
  text-align: center;
}
p.selectingAnimal{
  font-size: 110%;
  margin: 5px;
  text-align: center;
}

.animal_img_right
{
  float:right;
  width:120px;
  height: auto;
  margin: 10px 0 5px 10px;
}

.animal_img_left
{
  float:left;
  width:120px;
  height: auto;
  margin: 10px 10px 5px 0;
}


// ---------------------- PopUp ---------------------------------------------------------------

img#popupImg{
  min-width: 50px;
  max-width: 120px;
  max-height: 80px;
  display: block;
  margin: auto;
}

// ---------------------- Slider ---------------------------------------------------------------

#slider{
  margin: 30px 15px 10px 55px;
}


// ---------------------- NAVI ---------------------------------------------------------------

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .10s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 450px;
  height: 400px;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: 'Raleway', sans-serif;
}

.modal-body {
  padding: 1px 1px;
  margin: 1px 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




a:hover{
  color: #bdb9bd;
}

section, footer, header, aside, nav{
  display: block;
}

//....

.modhalfleft  {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  width: auto;
  height: auto;
}
.modhalfright  {
  position: absolute;
  margin-left: 75px;
  margin-top: 50px;
  width: 300px;
  height: 430px;
}

.modImg{
  margin-top:170px;
  margin-left: 10px;
  width: 200px;
  opacity: 0.3;
}
.modImgRight{
  margin-top:240px;
  margin-left: 160px;
  width: 280px;
  opacity: 0.3;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  color: #403e3f;
  font-size: .9em;


  label {
    margin: 0 0 6px 0;
  }

}
.form-group input[type="email"],input[type="password"]
{
  border: none;
  outline: none;
  background: transparent;
  padding: 0 0 1px 0;
  margin: 15px 0 30px 0;
  font-size: 1em;
  border-bottom: 1px dotted #89878d;
}

input[type="submit"]{
  width: 90px;
  border: 1px solid rgba(202, 198, 199, 0.76);
  padding: 10px;
  background: transparent ;
  outline: none;
  cursor: url("../img/cursor_foot_black.png"), auto;

  text-align: center;
}

input.createButton{
  width: 130px;
}
input.loginButton{
  margin-left: 210px;
}

.errorInfo{
  font-size: 0.8em;
  color: #6b6768;
  padding: 10px;
}

.lala{
  border-bottom: 2px dotted #d70e00 !important;
}
/*-------------------------
    The menu
--------------------------*/

div#vueNavi{
  width: 100%;
  height: 80px;
  background-color: #413e43;
}
div#navi{
  position: absolute;
  top: 15px;
  left: 250px;
  right: 0px;
}

a.home, a.login, a.settings, a.contact{
  padding: 12px 15px 16px 15px;
  margin: 5px;
  height: 10px;
  border: 1px solid rgba(239, 234, 235, 0);
}


a.logMod, a.newMod{
  padding: 12px 15px 16px 15px;
  cursor: url("../img/cursor_foot_black.png"), auto;
  background-color: #eaeaea;
  box-shadow:0px -1px 3px 3px #e2e2e2 inset;
  width: 193px;
  text-align: center;
}
nav.log .logMod,
nav.new .newMod,
nav.con .logMod,
nav.imp .newMod{
  background-color: #ffffff;
  box-shadow: none;
  padding: 12px 15px 16px 15px;

  -webkit-transition:background-color 0.25s;
  -moz-transition:background-color 0.25s;
  transition:background-color 0.25s;
}
nav.navMenu{
  display:inline-block;
  margin:0px auto 0px;
}
nav.log a, nav.new a, nav.con a, nav.imp a{
  color: #000 !important;
}

nav a{
  display:inline-block;
  color: #dadad7;
  font-size:14px;
  text-decoration:none;
  text-transform: uppercase;
  background-color:transparent;
}


nav.home a.home,
nav.login a.login,
nav.settings a.settings,
nav.contact a.contact{
  border: 1px solid #efe8ef;


  -webkit-transition:border 0.25s;
  -moz-transition:border 0.25s;
  transition:border 0.25s;
}

.resource {
  margin: 20px 0;
}